<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View All Rates</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body>
    <form action="{{ url_for('search') }}" >
        <h4>Change to:</h4>
        <label for="base_currency">Base Currency</label>
        <input name="base_currency" id="base_currency" placeholder="eg USD" maxlength="3"/><br />
        <label for="quote_currency">Quote Currency</label>
        <input name="quote_currency" id="quote_currency" placeholder="eg GBP" maxlength="3"/><br />
        <label for="amount">Base Currency Amount</label>
        <input name="amount" id="amount" placeholder="1000" /><br />
        <input type="submit" value="change" id="submit">
    </form>
    <table>
        <tr>
            <th>Names</th>
            <th>Values</th>
        </tr>
    {% for element in content %}
        <tr>
            <td>{{ element}}</td>
            <td>{{ content[element] }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>